<form #form="ngForm">
	<div class="example-wrapper">
		<kendo-editor #editor [(ngModel)]="content" name="content" style="height: 350px;">
			<kendo-toolbar>
				<kendo-toolbar-buttongroup>
					<kendo-toolbar-button kendoEditorUndoButton></kendo-toolbar-button>
					<kendo-toolbar-button kendoEditorRedoButton></kendo-toolbar-button>
				</kendo-toolbar-buttongroup>
				<kendo-toolbar-buttongroup>
					<kendo-toolbar-button kendoEditorBoldButton></kendo-toolbar-button>
					<kendo-toolbar-button kendoEditorItalicButton></kendo-toolbar-button>
					<kendo-toolbar-button kendoEditorUnderlineButton></kendo-toolbar-button>
					<kendo-toolbar-button kendoEditorStrikethroughButton></kendo-toolbar-button>
				</kendo-toolbar-buttongroup>
				<kendo-toolbar-buttongroup>
					<kendo-toolbar-button kendoEditorAlignLeftButton></kendo-toolbar-button>
					<kendo-toolbar-button kendoEditorAlignCenterButton></kendo-toolbar-button>
					<kendo-toolbar-button kendoEditorAlignRightButton></kendo-toolbar-button>
					<kendo-toolbar-button kendoEditorAlignJustifyButton></kendo-toolbar-button>
				</kendo-toolbar-buttongroup>
				<kendo-toolbar-dropdownlist kendoEditorFormat></kendo-toolbar-dropdownlist>
				<kendo-toolbar-colorpicker kendoEditorForeColor></kendo-toolbar-colorpicker>
				<kendo-toolbar-colorpicker kendoEditorBackColor></kendo-toolbar-colorpicker>
			</kendo-toolbar>
		</kendo-editor>
	</div>
</form>

<p>
	<strong>Preview of Rendered Message using div innerhtml</strong>
</p>

<div class="example-config">
	<div [innerHTML]="safeHtmlContent"></div>
</div>